<a href="/pieces/<%= piece.titleurl %>" class="piece-preview-box">
    <div style="background-image: url('<%= piece.imgsource %>');" class="piece-preview-img">
    </div>
    <div class="piece-preview-text">
    <div id="wrapper">
      <p id="title"><%= piece.title %></p>
      <p id="date"><%= piece.date %></p>
      <p id="text"><%= preview_text %></p>
    </div>
    </div>
</a>