<div class="latestwrapper">
  <div class="circle">
  </div>
  <h1>Latest Piece</h1>
  <div class="latestbox">
    <div style="background-image: url('<%= @recent.imgsource %>');" class="recent-img">
    </div>
    <div class="recent-text">
      <p id="title"><%= @recent.title %></p>
      <p id="date"><%= @recent.date %></p>
      <p id="text"><%= @recent_preview_text %></p>
      <a href="/pieces/<%= @recent.titleurl %>" id="button">Read</a>
    </div>
  </div>
</div>

<% @pieces.each do |piece| %>
    <div>
      <a href="/pieces/<%= piece.titleurl %>">
        <%= piece.title %>
      </a>
      <p>
        <%= @preview_text[piece.title] %>
      </p>
    </div>
<% end %>

<p>Subscribe</p>

<%= form_with model: [Subscriber.new] do |form| %>
    <%= form.email_field :email, placeholder: "you@example.com", required: true %>
    <%= form.submit "Submit" %>
<% end %>
